{% extends 'template.html' %}
{% block content %}
    <form class="formJogo" action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
        <figure class="img-thumbnail col-md-4 formImagem">
            <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}" alt="">
            <figcaption>
                <label class="fileContainer">
                    Mudar capa
                    <input type="file" name="arquivo" accept=".jpg, .png">
                </label>
            </figcaption>
        </figure>
        <fieldset>
            <input type="hidden" name="id" value="{{ id }}">
            {{ form.csrf_token() }}
            <div>
                {{ form.nome.label(class="label") }}
                {{ form.nome(class="input") }}
            </div>
            <div>
                {{ form.categoria.label(class="label") }}
                {{ form.categoria(class="input") }}
            </div>
            <div>
                {{ form.console.label(class="label") }}
                {{ form.console(class="input") }}
            </div>
            <div class="buttons">
                {{ form.submit(class="button") }}
                <a class="button" href="{{ url_for('index') }}">Voltar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}